

 .exitsign{
     background-color: #D6DBDF;
     padding: 5vmin ;
     font-family: 'Oswald', sans-serif;
     color:#F20000;
     font-size: 50vmin;
     animation: blinkingText 2s infinite;

}
 .exitsign:hover {
  transform: rotate(120deg);

}
@keyframes blinkingText {
  0% {color:#F20000;}
  50%{color:#990000;}
}
